#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, serif;
}

.clear {
    clear: both;
}


div {
    display: block;
}

.head {
    line-height: normal;
    height: ;
}

.logo {
    border-color: black;
}

.floatRight {
    float: right;
}