#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, serif;
}

.clear {
    clear: both;
}


div {
    display: block;
}

.head {
    height: 135px;
    line-height: 0;
}

.logo {
    border-color: black;
}

.menu {
    width: 545px;
    text-align: right;
    margin-top: 0;
    padding: 10px auto auto;
}

.floatRight {
    float: right;
}