#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, serif;
}

.clear {
    clear: both;
}


div {
    display: block;
}

.logo {
    border-color: black;
}